# Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**

- creating markdown cell in Jupyter notebook
- Listing different libraries used by Data scientist
- Listing different popular languages used by Data scientist
- writing arithmetic expression in notebook

Some of the popular languages that Data Scientists use are:
    
    1.Python 
    2.Julia 
    3.R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. Matplotlib

## Data Science Tools

|Data Science Tools|
|------------------|
|Pycharm, Colab, Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

    1. (3*4)+5
    2. 6+(8-4)
    3. 3*75-(5*2)

In [4]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Emmanuel